.music-controls {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #030303;
    padding: 10px 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 12px;
    z-index: 1000;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    font-family: "Montserrat", sans-serif;
    color: var(--white);
}

.music-controls button, .music-controls input[type="range"] {
    padding: 8px 12px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    color: var(--white);
    background-color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.music-controls button:hover, .music-controls input[type="range"]:hover {
    background-color: #555;
    transform: scale(1.05);
}

.music-controls button:active {
    background-color: #777;
}

.music-controls input[type="range"] {
    width: 120px;
    appearance: none;
    background: #444;
    height: 6px;
    border-radius: 4px;
    cursor: pointer;
}

.music-controls input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--primary);
    cursor: pointer;
}

.music-controls input[type="range"]::-moz-range-thumb {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--primary);
    cursor: pointer;
}
